{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Two-Factor Auth" %}{% endblock %}
{% block pagetitle %}User Created!{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=page_title %}
{% endblock page_header %}

{% block main %}
  <p>Here is your QR code:</p>
  <p>
      <img src="qr/?userid={{request.user.id}}" />
  </p>
  <p>
      Your secret key is: {{user.key}}
  </p>
	<form class="form" role="form" method="post" action="otpconfirm">{% csrf_token %}
	 <div class="form-group">
		<input id="userid" type="hidden" name="userid" value="{{request.user.id}}">
	 </div>
	 <div class="form-group">
	   <label for="input-otp">Temporary code</label>
	   <input type="text" name="otp" class="form-control" id="input-otp" placeholder="Enter Temporary Code">
	 </div>
	 <button type="submit" class="btn btn-primary">Login</button>
	</form>

{% endblock %}
