{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Two-Factor Auth" %}{% endblock %}
{% block pagetitle %}Two-Factor Auth{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=page_title %}
{% endblock page_header %}

{% block main %}
<div>
  <h3>{% trans "Two-Factor Authentication" %}</h3>
</div>


{% if user_exists %}
  <p>
    Here you can test your Two-Factor Authentication login
  </p>
  <p>
    <a href="loginview" class="btn btn-primary">Login</a>
  </p>
{% else %}
  <p>
    Here you can enable the Two-Factor Authentication feature
  </p>
  <p>
    <a href="newview" class="btn btn-primary">Enable 2FA</a>
  </p>
{% endif %}

{% endblock %}
